# Security & Secrets
.env
.env.*
!.env.example
*.pem
*.key
*.crt
*.cert
*.db
*.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build output
node_modules
dist
dist-ssr

# Editor & System files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de variáveis de ambiente
.env
.env.development
.env.production
.env.local
*.env